body {
  background-color: #ffb;
  opacity: 0.8;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #ff5, #ff5 50%, rgba(252, 252, 86, 0.904) 50%);
  background-size: 10px 10px;  color: #131313;
}


footer{
  color: #131212;
}

footer h1{
  color: #cfc0c0;
}